body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%; 
    padding-left: 20px;
    padding-right: 50px;
    
    
}
.half-width img{
     width: 80%;
    padding-left: 8%;
    margin-top: 2%;

}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.paddiing-left{
    margin-left: 100px;

}
.midde-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.p-align p{
    width: 500px;

}
.orange{
    color: orange;
}
.shadow{
    box-shadow: grey 10px 10px 40px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 10px;
    
}

h2{
    font-size: 35px;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#line{
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
#line2{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}